@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
  --primary:#6c5ce7;
  --secondary:#4b4b4b;
  --error:#e17055;
}
body{
  font-family: "Ubuntu", sans-serif;
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.baslik h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.baslik h2, .baslik p{
  text-align: center;
}
.baslik h2{
  margin-top: 60px;
  font-size: 2.6rem;
}
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background-color: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}
.progress-bar{
  height: 5px;
  background-color: var(--primary);
  margin-top: 20px;
}
