@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
  --primary:#6c5ce7;
  --secondary:#4b4b4b;
  --error:#e17055;
}
body{
  background-color:seashell;
  font-family: "Ubuntu", sans-serif;
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.baslik h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.baslik h2, .baslik p{
  text-align: center;
}
.baslik h2{
  margin-top: 60px;
  font-size: 2.6rem;
}
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background-color: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}
.progress-bar{
  height: 5px;
  background-color: var(--primary);
  margin-top: 20px;
}
.image{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.image-wrap{
  overflow: hidden;
  height: 0;
  padding: 50%;
  position: relative;
  opacity: 0.8;
}
.image-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6%;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 60%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
  
}